
body {
  background: darkgray;


}

.container {
    width: 960px;
    margin: 0 auto;
}
header {
  padding: 20px;
  margin-bottom: 8px;
  color: #333;
  background: white;
  text-align: center;

} 
nav {
    background: white;
    padding: 20px;
    text-align: center;
    margin-bottom: 8px;

}

section {
  margin: 2px;
  padding: 20px;
  margin-bottom: 20px;
  background: white;
  width: 45%;
  float: left;
  height: 200px;
}
div {

}
article {
    background: gray;
    height: 200px;
}

aside {
  margin: 2px;
  float: left;
  width: 45%;
  /* height: 200px; */
  padding: 20px;
  /* margin-left: 30px; */
  background: white;
  height: 200px;
}

footer {
  /* add margins to add spacing between footer and other content */
  padding: 20px;
  clear: both;
  background: white;
}

.h2 {
    width: 80%;
    background: white;
    padding: 5px;
    margin: 10px auto;
}

.para {
    width: 80%;
    background: white;
    padding: 5px;
    margin: 0 auto;
}